
.skillsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 60px;
}

.skillItem img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.skill {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
